<template>
    <nav aria-label="Page navigation example">
        <ul v-model="current_page" :length="last_page" class="pagination">
            <li
                v-if="current_page > 1"
                class="page-item"><a
                class="page-link"
                href="#"
                @click.prevent="updatePage(current_page - 1)"
            >
                Previous</a>
            </li>
            <li v-for="index in last_page" :class="index === current_page ? 'active': ''" class="page-item">
                <a class="page-link" @click.prevent="updatePage(index)">{{ index }}</a>
            </li>
            <li class="page-item"><a class="page-link" href="#"
                                     @click.prevent="updatePage(current_page + 1)">Next</a>
            </li>
        </ul>
    </nav>
</template>

<script>

export default {
    props: {
        current_page: {
            type: Number,
            default: 1
        },
        last_page: {
            type: Number,
            default: 1
        }
    },
    methods: {
        updatePage(page) {
            if (page !== this.current_page) {
                this.$emit('change', page)
            }
        }
    }
}
</script>
