<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">New Order
                        <div>
                            <router-link :to="{name: 'OrdersList'}">
                                <a class="float-right">Back</a>
                            </router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="storeOrder">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Vehicle</label>
                                <div class="col-md-6">
                                    <select
                                        v-model="form.vehicle_id" aria-label="Default select Example"
                                        class="form-control"
                                        required @change="getVehicleKeys()">
                                        <option v-for="vehicle in vehicles" :key="vehicle.id" :value="vehicle.id">
                                            {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Key Part No.</label>
                                <div class="col-md-6">
                                    <select v-model="form.key_id" aria-label="Default select Example"
                                            class="form-control" required>
                                        <option v-for="key in keys" :key="key.id" :value="key.id">
                                            {{ key.id }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Technician</label>
                                <div class="col-md-6">
                                    <select
                                        v-model="form.technician_id" aria-label="Default select Example"
                                        class="form-control" required>
                                        <option v-for="technician in technicians" :key="technician.id"
                                                :value="technician.id">
                                            {{ technician.last_name }}, {{ technician.first_name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button class="btn btn-primary" type="submit">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            keys: [],
            vehicles: [],
            technicians: [],
            form: {
                key_id: '',
                vehicle_id: '',
                technician_id: '',
            }
        }
    },

    //  After Vue instance is created I am fetching data from api and setting it to data property
    created() {
        this.getVehicles();
        this.getTechnicians();
    },
    methods: {

        // Fetches and sets key data related to vehicle chosen
        getVehicleKeys() {
            axios.get(`/api/orders/${this.form.vehicle_id}/keys`)
                .then(res => {
                    this.keys = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Fetches and sets all vehicle data from db
        getVehicles() {
            axios.get('/api/orders/vehicles')
                .then(res => {
                    this.vehicles = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Fetches and sets all technician data from db
        getTechnicians() {
            axios.get('/api/orders/technicians')
                .then(res => {
                    this.technicians = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Create the new order then use vue-router to go back to list page
        storeOrder() {
            axios.post("/api/orders", {
                'key_id': this.form.key_id,
                'vehicle_id': this.form.vehicle_id,
                'technician_id': this.form.technician_id,
            })
                .then(res => {
                    this.$router.push({name: 'OrdersList'})
                })
                .catch(err => {
                    console.log(err);
                });
        },
    }
}

</script>

<style>


</style>
