<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Update Existing Order
                        <div>
                            <router-link :to="{name: 'OrdersList'}">
                                <a class="float-right">Back</a>
                            </router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="updateOrder">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Vehicle</label>
                                <div class="col-md-6">
                                    <select v-model="form.vehicle_id" aria-label="Default select Example"
                                            class="form-control"
                                            required @change="getUpdatedVehicleKeys()">
                                        <option v-for="vehicle in vehicles" :key="vehicle.id" :value="vehicle.id">
                                            {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Key Part No.</label>
                                <div class="col-md-6">
                                    <select
                                        v-model="form.key_id" aria-label="Default select Example"
                                        class="form-control" required>
                                        <option v-for="key in keys" :key="key.id" :value="key.id">
                                            {{ key.id }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Technician</label>
                                <div class="col-md-6">
                                    <select v-model="form.technician_id" aria-label="Default select Example"
                                            class="form-control" required>
                                        <option v-for="technician in technicians" :key="technician.id"
                                                :value="technician.id">
                                            {{ technician.last_name }}, {{ technician.first_name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button class="btn btn-primary" type="submit">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            keys: [],
            vehicles: [],
            technicians: [],
            form: {
                key_id: '',
                key_name: '',
                vehicle_id: '',
                vehicle_model: '',
                technician_id: '',
                technician_last_name: ''
            }
        }
    },

    //  After Vue instance is created I am fetching data from api and setting it to data property
    created() {
        this.getVehicles();
        this.getTechnicians();
        this.getOrder();
        this.getVehicleKeys();
    },
    mounted() {
        this.getVehicleKeys();
    },
    methods: {

        // Fetches and sets key data related to vehicle chosen
        getVehicleKeys() {
            axios.get(`/api/orders/${this.$route.params.vehicle_id}/keys`)
                .then(res => {
                    this.keys = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Fetches key data from db if vehicle is changed
        getUpdatedVehicleKeys() {
            axios.get(`/api/orders/${this.form.vehicle_id}/keys`)
                .then(res => {
                    this.keys = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Fetches and sets specific order data using route params
        getOrder() {
            axios.get('/api/orders/' + this.$route.params.id)
                .then(res => {
                    this.form = res.data.data;
                    this.getKeys();
                    this.getVehicles();
                    this.getTechnicians();
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Fetches and sets all key data from db
        getKeys() {
            axios.get('/api/orders/keys')
                .then(res => {
                    this.keys = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Fetches and sets all vehicle data from db
        getVehicles() {
            axios.get('/api/orders/vehicles')
                .then(res => {
                    this.vehicles = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Fetches and sets all technician data from db
        getTechnicians() {
            axios.get('/api/orders/technicians')
                .then(res => {
                    this.technicians = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Updates order in db with new data then use vue-router to go back to list page
        updateOrder() {
            axios.put("/api/orders/" + this.$route.params.id, {
                'key_id': this.form.key_id,
                'vehicle_id': this.form.vehicle_id,
                'technician_id': this.form.technician_id,
            })
                .then(res => {
                    this.$router.push({name: 'OrdersList'})
                })
                .catch(err => {
                    console.log(err);
                });
        },
    },
}

</script>

<style>

</style>
