<template>
    <div>
        <div class="d-smflex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Orders</h1>
        </div>
        <div class="row">
            <div class="card mx-auto">
                <div v-if="showMessage">
                    <div class="alert alert-success">{{ message }}
                    </div>
                </div>
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <form>
                                <div class="form-row align-items-center">
                                    <label class="control-label mr-2"> Key Part No. </label>
                                    <div class="col mr-5">
                                        <select v-model="selectedKey" aria-label="Default select Example"
                                                class="custom-select" @change="sortOrders">
                                            <option v-for="key in keys" :key="key.id" :value="key.id">
                                                {{ key.id }}
                                            </option>
                                        </select>
                                    </div>
                                    <label class="control-label mr-2"> Vehicle </label>
                                    <div class="col mr-5">
                                        <select v-model="selectedVehicle" aria-label="Default select Example"
                                                class="custom-select" @change="sortOrders">
                                            <option v-for="vehicle in vehicles" :key="vehicle.id" :value="vehicle.id">
                                                {{ vehicle.id }} {{ vehicle.year }} {{ vehicle.make }}
                                                {{ vehicle.model }}
                                            </option>
                                        </select>
                                    </div>
                                    <label class="control-label mr-2"> Technician </label>
                                    <div class="col mr-5">
                                        <select v-model="selectedTechnician" aria-label="Default select Example"
                                                class="custom-select" @change="sortOrders">
                                            <option v-for="technician in technicians" :key="technician.id"
                                                    :value="technician.id">
                                                {{ technician.last_name }}, {{ technician.first_name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <router-link :to="{name: 'OrdersCreate'}">
                                <a class="btn btn-primary mb-2">New</a>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Order No.</th>
                            <th scope="col">Key Part No.</th>
                            <th scope="col">Key Price</th>
                            <th scope="col">Vehicle Year</th>
                            <th scope="col">Vehicle Make</th>
                            <th scope="col">Vehicle Model</th>
                            <th scope="col">Vehicle VIN</th>
                            <th scope="col">Technician First Name</th>
                            <th scope="col">Technician Last Name</th>
                            <th scope="col">Technician Truck Number</th>
                            <th scope="col">Manage Order</th>
                            <th scope="col">Delete Order</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="order in orders" :key="order.id">
                            <td>{{ order.id }}</td>
                            <td>{{ order.key_id }}</td>
                            <td>${{ order.key_price }}.00</td>
                            <td>{{ order.vehicle_year }}</td>
                            <td>{{ order.vehicle_make }}</td>
                            <td>{{ order.vehicle_model }}</td>
                            <td>{{ order.vehicle_vin }}</td>
                            <td>{{ order.technician_first_name }}</td>
                            <td>{{ order.technician_last_name }}</td>
                            <td>{{ order.technician_truck_number }}</td>
                            <td>
                                <router-link
                                    :to="{name: 'OrdersDetail', params: {id: order.id, vehicle_id: order.vehicle_id}}">
                                    <a class="btn btn-success">Edit</a>
                                </router-link>
                            </td>
                            <td>
                                <button class="btn btn-danger" @click="deleteOrder(order.id)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <paginate
                        :current_page="this.currentPage"
                        :last_page="this.lastPage"
                        @change="changePage"
                    />
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import paginate from "../../components/Paginate";

export default {
    components: {
        paginate
    },
    data() {
        return {
            orders: [],
            currentPage: 1,
            lastPage: 1,
            showMessage: false,
            message: '',
            selectedKey: null,
            selectedVehicle: null,
            selectedTechnician: null,
            technicians: [],
            keys: [],
            vehicles: [],
        }
    },

    //  After Vue instance is created I am fetching data from api and setting it to data property
    created() {
        this.getOrders();
        this.getKeys();
        this.getVehicles();
        this.getTechnicians();
    },
    methods: {

        // If selectedKey, selectedVehicle, or selectedTechnician change we run sortOrders to filter orders
        sortOrders() {
            axios.get('/api/orders', {
                params: {
                    key_id: this.selectedKey,
                    vehicle_id: this.selectedVehicle,
                    technician_id: this.selectedTechnician
                }
            })
                .then(res => {
                    this.orders = res.data.data;
                    this.selectedKey = null;
                    this.selectedVehicle = null;
                    this.selectedTechnician = null;
                })
                .catch(err => {
                    console.log(err);
                });
        },

        // Fetches and sets order data -uses params to sort orders based on keys, vehicles, or technicians
        getOrders() {
            axios.get('/api/orders', {
                params: {
                    key_id: this.selectedKey,
                    vehicle_id: this.selectedVehicle,
                    technician_id: this.selectedTechnician,
                    page: this.currentPage
                }
            })
                .then(res => {
                    this.orders = res.data.data;
                    this.lastPage = res.data.meta.last_page;
                })
                .catch(err => {
                    console.log(err);
                });
        },

        // Sets currentPage based off page chosen and displays next set of orders
        changePage(page) {
            this.currentPage = page;
            this.getOrders();
        },

        // Removes order from db then shows confirmation message and fetches and sets order data
        deleteOrder(id) {
            axios.delete('/api/orders/' + id)
                .then(res => {
                    this.showMessage = true;
                    this.message = res.data;
                    this.getOrders();
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Fetches and sets all key data from db
        getKeys() {
            axios.get('/api/orders/keys')
                .then(res => {
                    this.keys = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Fetches and sets all vehicle data from db
        getVehicles() {
            axios.get('/api/orders/vehicles')
                .then(res => {
                    this.vehicles = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        },

        // Fetches and sets all technician data from db
        getTechnicians() {
            axios.get('/api/orders/technicians')
                .then(res => {
                    this.technicians = res.data;
                })
                .catch(err => {
                    console.log(err);
                })
        }
    },
}

</script>

<style>

</style>
